.theme-toggle {
  position: fixed;
  top: 20px;
  right: 25px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

body.dark {
  background-color: #0b0c10;
  color: white;
}

body.light {
  background-color: #fff;
  color: #222;
}
